<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <%= link_to 'InterstellarVision', home_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if session[:user_id] %>
          <% if User.find(session[:user_id]).superuser %>
            <li>
              <%= link_to 'Добавить планету', '/planets/new', class: 'nav-link active' %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% unless session[:user_id] %>
          <li>
            <%= link_to 'Войти', '/sessions/new', class: 'nav-link active' %>
          </li>
          <li class="nav-link active">|</li>
          <li>
            <%= link_to 'Зарегистрироваться', '/users/new', class: 'nav-link active' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Профиль', '/users/profile_page', class: 'nav-link active' %>
          </li>
          <li class="nav-link active">|</li>
          <li>
            <%= link_to 'Выйти', '/sessions/destroy', data: {turbo_method: :delete}, class: 'nav-link active' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>